// Colors
$black: #0b0b10;
$background-color: #2e3d4d;
$white: #fff;
$grey: #272727;
$light-grey: #908d8d;
$secondary: #3647dc;

// Font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
$font: "Poppins", sans-serif;
